<div class="row">
  <div class="col-md-12">
    <%= button_to 'New Sensor', new_sensor_path, :method => :get, class: 'btn btn-primary' %>
    <br/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr class="info">
      <th>#</th>
      <th>Name</th>
      <th>Created</th>
      <th>Updated</th>
      <th>API Key</th>
    </tr>
    </thead>
    <tbody>
      <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.id %></td>
        <td><%= link_to sensor.name, sensor_path(sensor.id) %></td>
        <td><%= sensor.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= sensor.updated_at.strftime("%Y-%m-%d") %></td>
        <td><%= sensor.api_key %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>