<div class="container-inverse">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'GWSecurity', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to('Sensors', sensors_path, :method => :get) %> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to('Home', homes_path, :method => :get) %> </li>

          <% if current_user %>

          <li> <%= link_to('PersonInfo', person_infos_path, :method => :get) %> </li>
          <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </li>

          <% else %>

          <li> <%= link_to('Login', new_user_session_path, :method => :get) %> </li>
          <li> <%= link_to('Sign up', new_user_registration_path, :method => :get) %> </li>

          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</div>
